<%#index.html.erb%>

<h1>Book List</h1>
<ul>
  <% @books.each do |book|  %>
    <li>
      <%= link_to book.title, book_path(book) %>
      By: <%= book.author %> <%= link_to "Edit Book", edit_book_path(book) %> <%= link_to "Delete Book", book_path(book), method: :delete, data: {confirm: "Are you sure?"}%>
    </li>
  <% end %>
</ul>
<%= link_to "Add Book", new_book_path %>