<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Welcome to Ada Books</h1>
  </header>
  <body>
  <header>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "New Book", new_book_path %>
    </nav>
  </header>
    <%= yield %>
  </body>
  <footer>
    <p>Copyright Ada C13 2020</p>
  </footer>
</html>
